<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      /* CSS styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        margin: 0;
        padding: 0;
      }

      #container{
        display: flex;
        align-items: center;
        justify-content:center ;
      }

      h1 {
        color: #333;
        text-align: center;
      }

      a {
        display: block;
        margin: 10px;
        text-decoration: none;
        color: #333;
        background-color: #ccc;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        width: 100px;
      }

      a:hover {
        background-color: #999;
      }
    </style>
  </head>
  <body>
    <h1>Page 1</h1>
    <div id="container">
     
      <a href="/">Home</a>
      <a href="/register">register</a>
      <a href="/login">login</a>
    </div>
  </body>
</html>
