<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        /* CSS styles */

        h2{
            text-align: center;
            margin-top: 10vh
        }
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 300px;
            height: 40px;
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        button {
            width: 100px;
            height: 40px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <h2>Register Here</h2>
    <form method="post">
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="username" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Password" />

        <button>Register</button>
    </form>
</body>
</html>
